mixin item(obj)
    div.card.bg-light.mb-3.shadow-sm(id=obj._id, class=obj.item_category.category_name)
        img(src=obj.item_image, alt="no image", onerror="this.onerror=null; this.src='/public/img/default.jpg'"
            style="min-width: 50px; height: auto").card-img-top
        div.card-body
            h5.card-title.text-truncate= obj.item_name
            <hr>
            if obj.item_description
                small.card-text= obj.item_description
            else
                small.card-text No description
        div.card-footer.border-top.border-success
            if obj.item_price
                h4.text-success= obj.item_price
            else
                h4 Can't get price
    